<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXpsyc5GArswtHCCWpbjU-2XzfqKrO8uU</string>
	<key>GCM_SENDER_ID</key>
	<string>581373587742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khatwah</string>
	<key>PROJECT_ID</key>
	<string>khatwah-6e445</string>
	<key>STORAGE_BUCKET</key>
	<string>khatwah-6e445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581373587742:ios:3341eab6b82daeb27f590f</string>
</dict>
</plist>